.preview {
	height: 890px;
	background: url('../img/bg.jpg') no-repeat;
	position: relative;

	&__sentence {
		position: absolute;
		bottom: 253px;
		left: 205px;
	}
}

.sentence {
	width: 520px;
	text-align: right;
	color: $white;

	&__title {
		font-size: 3.33rem;
		font-weight: normal;
		margin: 0 0 46px 0;
		line-height: 70px;
	}

	&__desc {
		text-align: center;
		display: inline-block;
	}

	&__btn {
		margin: 0 -8px 16px 0;
	}
}

.postscript {
	font-size: 0.8rem;
}

.btn {
	text-align: center;
	font-weight: bold;
	transition: all .3s ease-in-out;
	display: inline-block;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 700;

	&_pink {
		border-radius: 62px;
		padding: 21px 87px;
	    background-color: $white;
	    color: $pink;

		&:hover {
	    	background-color: darken($white, 5%);
	    	color: darken($pink, 5%);
	    }
	}

	&_purple {
		background-color: rgb(136, 36, 205);
		color: $white;
		box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
		padding: 20px 60px;
		border-radius: 60px;

		&:hover {
	    	background-color: darken(rgb(136, 36, 205), 5%);
	    }
	}
}

.news {
	background: #2e3b4e;
	border-top: 1px solid rgba($white, .1);
	color: $white;
	font-size: 1rem;
	padding: 76px 0 71px 0;
	position: relative;
	
	&__list {
		width: 850px;
		margin: 0 auto;
		list-style: none;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	&__item {
		width: 400px;
		margin-bottom: 66px;
	}

	&__title {
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 24px;
		letter-spacing: -0.2px;
	}

	&__desc {
		line-height: 26px;
		font-weight: 300;
		letter-spacing: 0.3px;
	}

	&__shape {
		position: absolute;
		transform: translateX(-50%);
	    left: 50%;
	    bottom: -35.3px;
	    z-index: 10;
	}
}


.wicked {
	position: relative;
	color: $white;

	&:after {
		content: "";
		right: 0;
		bottom: 0;
		left: 0;
		top: 0;
		position: absolute;
	}

	&_pink {
		padding: 151px 0 177px 0;
		background: url('../img/bg2.jpg') no-repeat;

		&:after {
			background: rgba(#e7526b, .8);
		}
	}

	&_purple {
		padding: 183px 0 117px 0;
		background: url('../img/bg3.jpg') no-repeat;

		&:after {
			top: 93px;
			background: rgba(#521a66, .8);
		}
	}

	&__title {
		font-size: 2.33rem;
		font-weight: 300;
		margin-bottom: 13px;
	}

	&__desc {
		width: 85%;
		margin: 0 auto;
		line-height: 26px;
		margin-bottom: 29px;
		font-weight: 300;
	}

	&__btn {
		margin-bottom: 17px;
	}
}

.content {
	margin: 0 auto;
	position: relative;
	z-index: 1;
	text-align: center;
	letter-spacing: 0.3px;

	&_pink {
		top: 46%;
		width: 37%;
	}

	&_purple {
		top: 47%;
		width: 49%;

		.wicked__title {
			letter-spacing: -0.5px;
	    	font-size: 2.6rem;
	    	font-weight: 300;
	    	margin-bottom: 26px;
	    }

    	.wicked__desc {
			width: 95%;
    		font-size: 19px;
    		letter-spacing: 0.6px;
    		line-height: 33px;
    		margin-bottom: 25px;
		}
	}
}

.need {
	display: flex;
	color: #3a4d60;

	&__desc {

		&_right {
			padding: 94px 212px 0 103px;
		}

		&_left {
			padding: 112px 70px 0 210px;
		}
	}

	&__title {
		text-transform: uppercase;
		font-size: 1rem;
		font-weight: 800;
		letter-spacing: -0.2px;
		margin-bottom: 6px;
	}

	&__text {
		line-height: 31px;
    	font-size: 19px;
    	letter-spacing: 0.01px;
    	margin-bottom: 26px;
	}

	&__post-text {
		line-height: 26px;
	}
}

.photography {
	height: 670px;
	background: url('../img/bg4.jpg') no-repeat;
	position: relative;
	color: #fff;

	&:after {
		content: "";
		right: 0;
		bottom: 0;
		left: 0;
		top: 0;
		position: absolute;
		background: linear-gradient(transparent, #232323);
	}

	&__content {
		position: absolute;
		left: 210px;
		bottom: 89px;
		z-index: 1;
	}

	&__btn {
		border: 2px solid #fff;
	    display: inline-block;
	    padding: 8.5px 25.5px;
	    color: #fff;
	    text-decoration: none;
	    border-radius: 60px;
	    font-size: 13px;
	    font-weight: 600;
	    margin-bottom: 19px;
	}

	&__title {
		font-size: 40px;
		line-height: 50px;
		width: 600px;
		margin-bottom: 24px;
	}
}

.author {

	&__photo {
		width: 45px;
		height: 45px;
		overflow: hidden;
		border-radius: 50%;
		display: inline-block;
		vertical-align: middle;
	}

	&__img {
		transform: translateX(-30%);
	}

	&__desc {
		display: inline-block;
		vertical-align: middle;
		margin-left: 15px;
		font-size: 13px;
		font-weight: 600;
	}
}

.touch {
	background: #e7526b;
	color: $white;
	padding: 69px 0 229px 211px;

	&__title {
		font-weight: 600;
		text-transform: uppercase;
		font-size: 15px;
		margin-bottom: 13px;
	}

	&__text {
		width: 400px;
	    line-height: 27px;
	    margin-bottom: 30px;
	}

	&__site {
		color: $white;
	}
}

.touch-foot {
	background: #2e3b4e;
	padding: 44px 0 310px 210px;

	&__text {
		color: $white;
		font-size: 12px;
	}
}